@(users: List[models.domain.User], user: models.domain.User)

@main("Users", user) {
<div class="col-sm-12">
	<table class="table table-bordered">
		<tr class="active">
			<th>ID</th>
			<th>Username</th>
			<th>User Type</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Actions</th>
		</tr>
	@for(u <- users) {
		<tr>
			<td>@u.getId()</td>
			<td>@u.getUserType().toString()</td>
			<td>@u.getUsername()</td>
			<td>@u.getFirstName</td>
			<td>@u.getLastName</td>
			<td>
			<a href="@routes.Users.show(u.getId())"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
			@if(!u.getId().equals(user.getId())) {
			<a id="delete-user" data-user="@u.getId()" href="@routes.Users.delete()"><span class="glyphicon glyphicon-remove" title="Delete"></span></a>
			}
			</td>
		</tr>
	}
	</table>
</div>
}
