@(user: models.domain.User)	
	<div class="col-sm-3">
	@if(user != null) {
      <!-- Left column -->
      <ul class="list-unstyled">
      @if(user.getUserType().toString() == "Admin") {
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">
          <h5>Users <i class="glyphicon glyphicon-chevron-right"></i></h5>
          </a>
            <ul class="list-unstyled collapse" id="userMenu">
                <li class="active"> <a href="@routes.Users.showAll">List Users</a></li>
                <li class="active"> <a href="@routes.Users.create">Create New User</a></li>
            </ul>
        </li>
	  }
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#activitiesMenu">
          <h5>Activities <i class="glyphicon glyphicon-chevron-right"></i></h5>
          </a>
            <ul class="list-unstyled collapse" id="activitiesMenu">
                <li class="active"> <a href="@routes.Activities.showAll">List Activities</a></li>
                <li class="active"> <a href="#">Create New Activity</a></li>
            </ul>
        </li>
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu2">
          <h5>Reports <i class="glyphicon glyphicon-chevron-right"></i></h5>
          </a>
        
            <ul class="list-unstyled collapse" id="menu2">
                <li><a href="#">Information &amp; Stats</a>
                </li>
            </ul>
        </li>
      </ul>
           
      <hr>
      }
  	</div><!-- /col-3 -->
