@(activities: List[models.domain.Activity], user: models.domain.User)

@main("School Activities", user) {
<div class="col-sm-12">
	<table class="table table-bordered">
		<tr class="active">
			<th>Activity</th>
			<th>Tutor</th>
			<th>Venue</th>
			<th>Members</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	@for(a <- activities) {
		<tr @if(a.isActive()) { class="success" } else { class="danger" }>
			<td>@a.getName()</td>
			<td>@a.getTutor().getShortName()</td>
			<td>@a.getVenue()</td>
			<td>@a.getMemberships().size()</td>
			<td>
			@if(a.isActive()) {
			<span title="Inactive" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			} else {
			<span title="Active" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			}
			</td>
			<td>
			<a href="@routes.Activities.show(a.getId())" title="View"><span class="glyphicon glyphicon-search"></span></a>
			@if(user.getUserType().toString() == "Admin") {
			<a href="@routes.Activities.delete()" title="Delete" id="delete-activity" data-activity="@a.getId()"><span class="glyphicon glyphicon-remove"></span></a>
			}
			</td>
		</tr>
	}
	</table>
</div>
}
