@(activity: models.domain.Activity, user: models.domain.User, dates: List[java.util.Date])

@main("Activity - "+activity.getName(), user) {
<div class="col-sm-12">
	<table class="table table-bordered">
		<tr class="active">
			<th>Name</th>
			<th>Description</th>
			<th>Venue</th>
			<th>Members</th>
		</tr>
		<tr class="info">
			<td>@activity.getName()</td>
			<td>@activity.getDescription()</td>
			<td>@activity.getVenue()</td>
			<td>@activity.getMemberships().size()</td>
		</tr>
	</table>
</div>
<div class="col-sm-12">
<h1>Calendar</h1>

@for(d <- dates) {
	<div class="col-xs-2 session-block">@d</div>
}
</div>
@if(user.getUserType().toString().equals("Student")) {
	<div class="clearfix"></div>
	<br>
	<div class="col-xs-12">
		<a href="@routes.Activities.register(activity.getId())" class="btn btn-primary">Register</a>
	</div>
} else {
<div class="col-sm-12">
<h1>Students</h1>

<table class="table">
	<tr class="active">
		<th>First Name</th>
		<th>Last Name</th>
	</tr>
@for(member <- activity.getMemberships()) {
	<tr class="warning">
		<td>@member.getUser().getFirstName()</td>
		<td>@member.getUser().getLastName()</td>
	</tr>
}
</table>
}
</div>
}
